@model IEnumerable<Technodom.Models.Laptops>

@{
    ViewData["Title"] = "Index";
}

<h1>Laptops</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary btn-lg">Add Laptop</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-success">Edit</button></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Info</button></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
